.like {
    display: flex;
    align-items: center;
    justify-content: center;
}

.likeHeart {
    margin: 8px;
    cursor: pointer;
}
.like .heart {
    color: red;
    margin-right: 4px;
}

.like .likes-count {
    font-weight: bold; 
}
